on: [push]

jobs:
  build_and_static_analysis:
    name: build-and-analysis
    runs-on: ubuntu-latest
    container:
      image: alvin123msp430/msp430-gcc-9.3.1.11:latest
      options: --pull always
    defaults:
      run:
        working-directory: /github/workspace
    steps:
      - uses: actions/checkout@v3
      - run: make format && git diff --quiet
      - run: make cppcheck
      - run: which msp430-elf-gcc
      - run: msp430-elf-gcc --version
      - run: make